<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/vars.css}" />
	<link rel="stylesheet" th:href="@{/style.css}" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<title>툰 코리아</title>
</head>

<body>
	<div class="toon">
		<div class="header">
			<a th:href="@{/main}" class="headerLogo">
				<img th:src="@{images/logo1.png}">
			</a>
			<div class="headerSubject">
				<div class="headerTitle">대한민국 모든 툰 아미들의 외침 툰 코리아</div>
				<img th:src="@{images/headerBg.jpg}" class="headerBg">
			</div>
		</div>
		<div class="mainFrame">
			<div class="left">
				<div class="login">
					<div class="loginHeader">
						<span th:text="로그인"></span><br />
					</div>
					<form action="/login" id="loginForm" class="loginContents" method="post"
						th:if="${session.userId == null}">
						<div class="loginBox">
							<div class="idPw">
								<input type="text" class="id" name="id" placeholder="Id" />
								<input type="password" class="pass" name="pass" placeholder="Password" />
							</div>
							<input type="submit" value="로그인" class="buttonLogin" />
						</div>
						<div class="loginEtc">
							<a th:href="@{/join}" class="buttonJoin">회원가입</a>
							<a th:href="@{/idpwSearch}" class="searchIdpw">ID/PW 찾기</a>
						</div>
					</form>
					<div th:if="${session.userId != null}" id="userInfo">
						<div th:each="user : ${userList}">
							<div th:if="${session.userId eq user.id}">
								<div th:text="${user.nickname + '님'}" id="userNickname"></div>
								<button onclick="logOut()"
									class="buttonLogout">로그아웃</button>
								<div th:text="'레벨: ' + ${user.userLevel}" id="userLevel"></div>
								<div th:text="'포인트: ' + ${user.userPoint}" id="userPoint"></div>
								<div th:text="${user.userAuthority}" id="userAuthority"></div>
								<a th:href="@{/mypage}">내 정보로 이동</a>
							</div>
						</div>
					</div>
				</div>
				<div class="notice">
					<div class="noticeHeader">
						<span th:text="공지사항"></span>
						<a th:href="@{/notice}" class="more">더보기</a>
						<br />
					</div>
					<div class="noticeContents">
						<table>
							<tbody>
								<tr th:each="notice : ${noticeList}">
									<td th:text="${notice.noticeId}" style="display: none;"></td>
									<td class=mainTrNoticeTitle>
										<span>-</span>
										<a th:href="@{'/notice/' + ${notice.noticeId}}"
											th:text="${#strings.length(notice.title) &gt; 12 ? #strings.substring(notice.title, 0, 12) + '...' : notice.title}"></a>
									</td>
									<td th:text="${notice.nickname}" style="display: none;"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="banner">
					<div class="bannerHeader">
						<span th:text="배너"></span>
					</div>
					<div class="bannerContents">
						<div class="banner1">
							<a th:href="@{https://www.youtube.com/@NUFC}" target="_blank">
								<img th:src="@{images/newcastleYoutube.jpg}">
							</a>
						</div>
						<div class="banner2">
							<a th:href="@{https://www.instagram.com/nufc/}" target="_blank">
								<img th:src="@{images/newcastleInsta.png}">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="center">
				<div class="contents">
					<div class="contentsHeader">
						<span th:text="About"></span>
					</div>
					<div class="contentsContents">
						이 페이지는 개인 프로젝트를 위한 클론 페이지입니다
					</div>
				</div>
			</div>
			<div class="right">
				<div class="menu">
					<div class="menuHeader">
						<span th:text="메뉴"></span>
					</div>
					<div class="menuContents">
						<ul>
							<hr />
							<li>
								<a th:href="@{/notice}" class="">공지사항</a>
							</li>
							<hr />
							<li>
								<ul>컨텐츠
									<li><a th:href="@{/news}" class="">뉴스</a></li>
									<li><a th:href="@{/video}" class="">영상</a></li>
								</ul>
							</li>

							<hr />
							<li>
								<ul>게시판
									<li><a th:href="@{/board1}" class="">축구이야기</a></li>
									<li><a th:href="@{/board2}" class="">사는이야기</a></li>
									<li><a th:href="@{/matchday}" class="">매치데이</a></li>
								</ul>
							</li>
							<hr />
							<li>
								<ul>정보
									<li><a th:href="@{/profile}" class="">프로필</li>
									<li><a th:href="@{/stadium}" class="">경기장</li>
									<li><a th:href="@{/manager}" class="">감독</li>
									<li><a th:href="@{/squad}" class="">스쿼드</li>
								</ul>
							</li>
							<hr />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<label class="copyRight">
				<a th:href="@{/admin}" class="copy1">Admin Page</a>
				<span> | </span>
				<a th:href="@{/punish}" class="copy1">Punishiment Log</a>
				<span> | </span>
				<a th:href="@{/about}" class="copy1">About 툰코리아</a>
				</br>
				<span class="copy2">이 페이지는 개인프로젝트 페이지입니다</span>
			</label>
		</div>
	</div>
</body>
<script>
	function logOut() {
		// Ajax를 사용하여 로그아웃 요청을 서버에 보냄
		$.ajax({
			type: 'POST',
			url: '/logout',
			success: function (response) {
				if (response === 'success') {
					// 성공적으로 로그아웃한 경우, 페이지 리로드
					location.reload();

					// 페이지 리로드 후 메인 페이지로 이동
					window.location.href = '/main';
				} else {
					// 실패한 경우에 대한 처리
					console.error('로그아웃 실패');
				}
			},
			error: function (error) {
				// 에러 발생 시에 대한 처리
				console.error('로그아웃 요청 에러', error);
			}
		});
	}

</script>

</html>