<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/vars.css}" />
	<link rel="stylesheet" th:href="@{/style.css}" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<title>툰 코리아</title>
</head>

<body>
	<div class="toon">
		<div class="header">
			<a th:href="@{/main}" class="headerLogo">
				<img th:src="@{images/logo1.png}">
			</a>
			<div class="headerSubject">
				<div class="headerTitle">대한민국 모든 툰 아미들의 외침 툰 코리아</div>
				<img th:src="@{images/headerBg.jpg}" class="headerBg">
			</div>
		</div>
		<div class="mainFrame">
			<div class="left">
				<div class="login">
					<div class="loginHeader">
						<span th:text="로그인"></span><br />
					</div>
					<form action="/login" id="loginForm" class="loginContents" method="post"
						th:if="${session.userId == null}">
						<div class="loginBox">
							<div class="idPw">
								<input type="text" class="id" name="id" placeholder="Id" />
								<input type="password" class="pass" name="pass" placeholder="Password" />
							</div>
							<input type="submit" value="로그인" class="buttonLogin" />
						</div>
						<div class="loginEtc">
							<a th:href="@{/join}" class="buttonJoin">회원가입</a>
							<a th:href="@{/idpwSearch}" class="searchIdpw">ID/PW 찾기</a>
						</div>
					</form>
					<div th:if="${session.userId != null}" id="userInfo">
						<div th:each="user : ${userList}">
							<div th:if="${session.userId eq user.id}">
								<div th:text="${user.nickname + '님'}" id="userNickname"></div>
								<button onclick="logOut()" class="buttonLogout">로그아웃</button>
								<div th:text="'레벨: ' + ${user.userLevel}" id="userLevel"></div>
								<div th:text="'포인트: ' + ${user.userPoint}" id="userPoint"></div>
								<div th:text="${user.userAuthority}" id="userAuthority"></div>
								<a th:href="@{/mypage}">내 정보로 이동</a>
							</div>
						</div>
					</div>
				</div>
				<div class="notice">
					<div class="noticeHeader">
						<span th:text="공지사항"></span>
						<a th:href="@{/notice}" class="more">더보기</a>
						<br />
					</div>
					<div class="noticeContents">
						<table>
							<tbody>
								<tr th:each="notice : ${noticeList}">
									<td th:text="${notice.noticeId}" style="display: none;"></td>
									<td class=mainTrNoticeTitle>
										<span>-</span>
										<a th:href="@{'/notice/' + ${notice.noticeId}}"
											th:text="${#strings.length(notice.title) &gt; 12 ? #strings.substring(notice.title, 0, 12) + '...' : notice.title}"></a>
									</td>
									<td th:text="${notice.nickname}" style="display: none;"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="banner">
					<div class="bannerHeader">
						<span th:text="배너"></span>
					</div>
					<div class="bannerContents">
						<div class="banner1">
							<a th:href="@{https://www.youtube.com/@NUFC}" target="_blank">
								<img th:src="@{images/newcastleYoutube.jpg}">
							</a>
						</div>
						<div class="banner2">
							<a th:href="@{https://www.instagram.com/nufc/}" target="_blank">
								<img th:src="@{images/newcastleInsta.png}">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="center">
				<div class="contents">
					<div class="contentsHeader">
						<span th:text="마이페이지"></span>
					</div>
					<div class="contentsContents">
						<div class="inputJoin">
							<em style="color: white;">*</em>
							<label>권한</label>
							<div th:text="${session.userAuthority}" id="userAuthority"></div>
						</div>
						<div class="inputJoin">
							<em style="color: white;">*</em>
							<label>아이디</label>
							<div th:text="${session.userId}" id="userId"></div>
						</div>
						<div class="inputJoin">
							<em style="color: red;">*</em>
							<label>비밀번호</label>
							<button onclick="openPassUpdatePopup()">비밀번호 재설정</button>
						</div>
						<div class="inputJoin">
							<em>*</em>
							<label>이메일</label>
							<div>
								<input type="email" name="email" id="emailInput" th:value="${session.userEmail}"
									required>
								<button type="button" onclick="checkEmail()">이메일 인증</button><span
									id="emailCheckIcon"></span>
							</div>
						</div>
						<div style="margin-left:120px"><em>*</em> 이메일은 수정시 다시 인증이 필요합니다</div>
						<div class="inputJoin" id="verificationSection" style="display: none;">
							<em>*</em>
							<label>인증 번호</label>
							<div>
								<input type="text" name="verificationCode" id="verificationCodeInput" required>
								<button type="button" onclick="checkVerificationCode()">확인</button>
							</div>
						</div>
						<div class="inputJoin">
							<em>*</em>
							<label>닉네임</label>
							<div>
								<input type="text" name="nickname" th:value="${session.userNickname}" required>
								<button type="button" onclick="checkNickname()">중복 체크</button><span
									id="nicknameCheckIcon"></span>
							</div>
						</div>
						<div class="inputJoin">
							<em>*</em>
							<label>생일</label>
							<div class="datepicker">
								<input type="text" id="userBirth" name="birth" placeholder="YYYYMMDD"
									th:value="${session.userBirth}" readonly required>
							</div>
						</div>
						<div class="inputJoin">
							<em>*</em>
							<label>비밀번호 찾기 질문/답변</label>
							<div style="flex-direction: column;">
								<select name="passQuestion" id="passQuestionSelect">
									<option value="0">질문을 선택하세요</option>
									<option value="1">내 보물 1호는?</option>
									<option value="2">내가 졸업한 초등학교는?</option>
									<option value="3">내가 좋아하는 가수는?</option>
									<option value="4">내가 좋아하는 색깔은?</option>
									<option value="5">내가 좋아하는 스포츠팀은?</option>
								</select>
								<input type="text" name="passAnswer" id="passAnswer" th:value="${session.userPassAnswer}" oninput="checkPassAnswerLength()" required>
								<span id="passAnswerLengthMessage" style="color: red; display: none;"></span>
							</div>
						</div>
						<div class="buttonArea">
							<button type="button" class="joinCancel" onclick="location.href='/main'">취소</button>
							<button type="button" class="joinSubmit" onclick="updateUser()">수정</button>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="menu">
					<div class="menuHeader">
						<span th:text="메뉴"></span>
					</div>
					<div class="menuContents">
						<ul>
							<hr />
							<li>
								<a th:href="@{/notice}" class="">공지사항</a>
							</li>
							<hr />
							<li>
								<ul>컨텐츠
									<li><a th:href="@{/news}" class="">뉴스</a></li>
									<li><a th:href="@{/video}" class="">영상</a></li>
								</ul>
							</li>

							<hr />
							<li>
								<ul>게시판
									<li><a th:href="@{/board1}" class="">축구이야기</a></li>
									<li><a th:href="@{/board2}" class="">사는이야기</a></li>
									<li><a th:href="@{/matchday}" class="">매치데이</a></li>
								</ul>
							</li>
							<hr />
							<li>
								<ul>정보
									<li><a th:href="@{/profile}" class="">프로필</li>
									<li><a th:href="@{/stadium}" class="">경기장</li>
									<li><a th:href="@{/manager}" class="">감독</li>
									<li><a th:href="@{/squad}" class="">스쿼드</li>
								</ul>
							</li>
							<hr />
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<label class="copyRight">
				<a th:href="@{/admin}" class="copy1">Admin Page</a>
				<span> | </span>
				<a th:href="@{/punish}" class="copy1">Punishiment Log</a>
				<span> | </span>
				<a th:href="@{/about}" class="copy1">About 툰코리아</a>
				</br>
				<span class="copy2">이 페이지는 개인프로젝트 페이지입니다</span>
			</label>
		</div>
	</div>

</body>
<script th:inline="javascript">
	function logOut() {
		// Ajax를 사용하여 로그아웃 요청을 서버에 보냄
		$.ajax({
			type: 'POST',
			url: '/logout',
			success: function (response) {
				if (response === 'success') {
					// 성공적으로 로그아웃한 경우, 페이지 리로드
					location.reload();

					// 페이지 리로드 후 메인 페이지로 이동
					window.location.href = '/main';
				} else {
					// 실패한 경우에 대한 처리
					console.error('로그아웃 실패');
				}
			},
			error: function (error) {
				// 에러 발생 시에 대한 처리
				console.error('로그아웃 요청 에러', error);
			}
		});
	}

	//데이트피커
	$("#userBirth").datepicker({
		changeMonth: true, // 월 선택 가능
		changeYear: true,  // 년도 선택 가능
		hideIfNoPrevNext: false,
		yearRange: "c-100:c+10", // -100부터 현재 년도까지 선택 가능
		dateFormat: 'yymmdd',
		monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		dayNames: ['일', '월', '화', '수', '목', '금', '토'],
		dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
		dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
		showMonthAfterYear: true,
		yearSuffix: '년'
	});

	// 중복 체크 후 인증메일 보내기 
	function checkEmail() {
		var inputEmail = $("input[name='email']").val();

		// 이메일이 비어있는 경우 체크하지 않음
		if (!inputEmail) {
			alert("이메일을 입력하세요.");
			return;
		}

		// 서버에 이메일 중복 체크 요청 보내기
		$.ajax({
			type: "GET",
			url: "/checkEmailAvailability", // 해당 URL은 실제로 존재하는 서버 엔드포인트여야 합니다.
			data: {email: inputEmail},
			success: function (response) {
				console.log(response); // 추가된 부분

				if (response === "available") {
					alert('시용 가능한 이메일입니다. 메일이 전송중이니 알림을 기다려주세요.');

					// AJAX 요청 보내기
					$.ajax({
						type: 'POST',
						url: '/mail', // 서버의 mailController에 매핑된 엔드포인트
						data: {email: inputEmail}, // 이메일 값을 전달
						success: function (response) {
							alert('이메일이 전송되었습니다. 인증 번호를 확인해주세요.');

							// 인증 번호 입력 창과 확인 버튼을 나타나게 함
							document.getElementById('verificationSection').style.display = 'flex';
						},
						error: function (error) {
							alert('이메일 전송에 실패했습니다. 다시 시도해주세요.');
						}
					});
				} else if (response === "not available") {
					alert("이미 사용 중인 이메일입니다. 다른 이메일를 입력하세요.");
				} else {
					alert("서버 응답에 오류가 있습니다.");
				}
			},
			error: function () {
				alert("서버 오류가 발생했습니다. 잠시 후 다시 시도하세요.");
			}
		});
	}

	function checkVerificationCode() {
		// 사용자가 입력한 인증번호 가져오기
		var verificationCodeInput = $("#verificationCodeInput").val();

		// AJAX 요청 보내기
		$.ajax({
			type: 'POST',
			url: '/checkCode', // 실제 엔드포인트에 맞게 수정
			data: {inputCode: verificationCodeInput},
			success: function (response) {
				if (response == "success") {
					alert('인증이 성공했습니다.');
					//중복체크 체크표시 출력
					$("#emailCheckIcon").html("✓");
					// 인증 번호 입력 부분 숨김
					$("#verificationSection").hide();
				} else {
					alert('인증이 실패했습니다. 올바른 인증번호를 입력하세요.');
				}
			},
			error: function (error) {
				alert('인증번호 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
			}
		});
	}

	function checkNickname() {
		var inputNickname = $("input[name='nickname']").val();

		// 아이디가 비어있는 경우 체크하지 않음
		if (!inputNickname) {
			alert("닉네임를 입력하세요.");
			return;
		}

		// 서버에 아이디 중복 체크 요청 보내기
		$.ajax({
			type: "GET",
			url: "/checkNicknameAvailability", // 해당 URL은 실제로 존재하는 서버 엔드포인트여야 합니다.
			data: {nickname: inputNickname},
			success: function (response) {
				console.log(response); // 추가된 부분

				if (response === "available") {
					alert("사용 가능한 닉네임입니다.");
					//닉네임 중복체크 체크출력
					$("#nicknameCheckIcon").html("✓");
				} else if (response === "not available") {
					alert("이미 사용 중인 닉네임입니다. 다른 닉네임를 입력하세요.");
				} else {
					alert("서버 응답에 오류가 있습니다.");
				}
			},
			error: function () {
				alert("서버 오류가 발생했습니다. 잠시 후 다시 시도하세요.");
			},
		});
	}

	//셀렉트박스 값 로딩
	document.addEventListener("DOMContentLoaded", function () {
		var userPassQuestion = /*[[${session.userPassQuestion}]]*/ null;
		console.log("userPassQuestion:", userPassQuestion);

		var passQuestionSelect = document.getElementById('passQuestionSelect');
		passQuestionSelect.value = userPassQuestion;
	});

	function openPassUpdatePopup() {
		// userId 값을 가져옴
		var userId = $("#userId").text(); // 또는 필요한 선택자로 userId 값을 가져옵니다.

		// 새 창을 열기 위한 코드
		// passUpdate 창을 열 때 userId 값을 쿼리 문자열로 함께 전달합니다.
		window.open('/passUpdate?id=' + userId, '_blank', 'width=500,height=500');
		popup.onload = function () {
			popup.resizeTo(500, 350);
		};
	}

	function updateUser() {
		// 아이디 값 가져오기
		var userId = $("#userId").text();

		// 이메일, 닉네임, 생일, 비밀번호 찾기 질문/답변 가져오기
		var email = $("#emailInput").val();
		var nickname = $("input[name='nickname']").val();
		var birth = $("#userBirth").val();
		var passQuestion = $("#passQuestionSelect").val();
		var passAnswer = $("input[name='passAnswer']").val();

		// AJAX를 사용하여 서버에 업데이트 요청 보내기
		$.ajax({
			type: 'POST',
			url: '/updateUser', // 실제 엔드포인트에 맞게 수정
			data: {
				id: userId,
				email: email,
				nickname: nickname,
				birth: birth,
				passQuestion: passQuestion,
				passAnswer: passAnswer
			},
			success: function (response) {
				if (response === 'success') {
					alert('사용자 정보가 업데이트되었습니다.');
					// 사용자 정보 업데이트 성공 시 페이지 새로고침
					location.reload();
				} else {
					alert('사용자 정보 업데이트에 실패했습니다.');
				}
			},
			error: function (error) {
				alert('사용자 정보 업데이트 요청 중 오류가 발생했습니다.');
			}
		});
	}

	// 비밀번호 답변 길이 확인
	function checkPassAnswerLength() {
		var passAnswer = $("#passAnswer").val();
		var lengthMessage = document.getElementById("passAnswerLengthMessage");

		if (passAnswer.length > 8) {
			lengthMessage.innerHTML = "답변은 8글자 이하로 설정해야합니다.";
			lengthMessage.style.display = "inline"; // 메시지를 표시합니다.
		} else {
			lengthMessage.innerHTML = "";
			lengthMessage.style.display = "none"; // 메시지를 숨깁니다.
		}
	}

</script>

</html>